<div class="example-container">
    <h2 mat-dialog-title>Order Details</h2>
    <mat-form-field>
        <input matInput placeholder="Order Id" [value]=data.id>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Service Number" [value]=data.serviceNo>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Segment Group" [value]=data.group>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Product Name" [value]=data.productName>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Remark" [value]=data.remark></textarea>
    </mat-form-field>
  
    <label>Order Status</label>

    <div [formGroup]="myForm">
        <mat-radio-group formControlName="options">
            <mat-radio-button value="1">Processing</mat-radio-button>
            <mat-radio-button  value="2">Completed</mat-radio-button>
        </mat-radio-group>
    </div>
    
    <mat-form-field>
      <mat-select placeholder="State" [value]=data.state>
        <mat-option value="Selangor">Selangor</mat-option>
        <mat-option value="Terengganu">Terengganu</mat-option>
        <mat-option value="Sabah">Sabah</mat-option>
        <mat-option value="Sarawak">Sarawak</mat-option>
        <mat-option value="Perak">Perak</mat-option>
        <mat-option value="Johor">Johor</mat-option>
        <mat-option value="Kelantan">Kelantan</mat-option>
        <mat-option value="Perlis">Perlis</mat-option>
        <mat-option value="Melaka">Melaka</mat-option>
        <mat-option value="Negeri Sembilan">Negeri Sembilan</mat-option>
        <mat-option value="Pahang">Pahang</mat-option>
        <mat-option value="Penang">Penang</mat-option>
        <mat-option value="Kedah">Kedah</mat-option>
        <mat-option value="Wilayah Persekutuan">Wilayah Persekutuan</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Delete</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button (click) = "save()">Save</button>
    </mat-dialog-actions>
  </div>
  
  